.speech{
    font-family:'Times New Roman', Times, serif;
    font-size: small;
    color: black;
}

.direction{
    font-family:'Courier New', Courier, monospace;
    font-size: smaller;
    color: black;
    background-color: antiquewhite;
}

.name{

}

.direction:hover{
    background-color: darkgoldenrod;
    color: rgb(33, 38, 119);
}

.ENGSTRAND{
    color: chocolate;
}

.REGINA{
    color: blue;
}

.table{
    width: 50%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th, table td{
    border: 1px solid;
    text-align: center;
    padding: center;
}

.table th{
    background-color: rgb(190, 181, 192);
    color: rgb(102, 107, 232);
}

.table tr:nth-child(even){
    background-color: rgb(102, 219, 219);
}